<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<head>
<title>admin List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<body>

	<div class="container">
		<!-- 검색 바 -->
		<div class="row">
			<div class="col-md-6 offset-md-3 mt-3">
				<form action="/admin/list" method="get">
					<div class="input-group">
						<input type="text" class="form-control" name="searchKeyword" placeholder="검색어를 입력하세요">
						<button class="btn btn-primary" type="submit" >검색</button>
					</div>
				</form>
			</div>
		</div>

		<!-- 리스트와 개인정보 화면 -->
		<div class="row col-12 ">
			<!-- 리스트 -->
			<div class="col-md-6 mt-3">
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>사원명</th>
							<th>부서</th>
							<th>상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="adminlist : ${adminList}">
							<td th:text="${adminlist.userId}" th:onclick="getView([[${adminlist.userId}]])"></td>
							<td th:text="${adminlist.userNm}" th:onclick="getView([[${adminlist.userId}]])"></td>
							<td th:text="${adminlist.deptEntity.deptNm}" th:onclick="getView([[${adminlist.userId}]])"></td>
							<td th:onclick="getView([[${adminlist.userId}]])">
							<th:block th:if="${adminlist.userAprvYn}=='y'">승인</th:block>
							<th:block th:if="${adminlist.userAprvYn}=='n'">승인대기</th:block>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- 개인정보 화면 -->
   	       <div class="col-md-6" data-aos="fade-up">
			<form name="userForm" id="userForm" >
			<div class="form-group">
				<label for="user_id">ID</label><br>
				<input type="text" class="form-control" id="userId" name="userId" readonly>
			</div>
			<div class="form-group">
				<label for="user_nm">사원명</label>
				<input type="text" class="form-control" id="userNm" name="userNm">
			</div>
			<div class="form-group">
				<label for="user_eml_addr">e-mail</label>
				<input type="email" class="form-control" id="userEmlAddr" name="userEmlAddr">
			</div>
			<div class="form-group">
				<label for="user_telno">전화번호</label>
				<input type="tel" class="form-control" id="userTelno" name="userTelno" placeholder="-를 제외하고 입력해주세요">
			</div>
			<div class="form-group">
				<label for="user_addr">주소</label>
				<input type="text" class="form-control" id="userAddr" name="userAddr">
				<h3 th:text="${getUserDeptNo}"></h3>
			</div>
			<div class="form-group">
				<label for="department">부서:</label>
				<select class="form-control" id="deptNo" name="deptNo">
					<th:block th:each="dept:${deptList}">
					<option th:text="${dept.deptNm}" th:value="${dept.deptNo}" 
					 th:selected="${dept.deptNo}==${getUserDeptNo}"></option>
					</th:block>
				</select>
			</div>
			<div class="form-group">
				<label for="hobbies">취미:</label><br>
				<input type="hidden" id="userHobbyData">
				<div class="form-check form-check-inline">
					<th:block th:each="hobbyList,hobby:${hobbyList}">
					<input  class="form-check-input" type="checkbox" th:value="${hobbyList.hobbyCd}"
					 name="hobbyCd" >
					
					<label class="form-check-label" th:text="${hobbyList.hobbyNm}"></label>
					</th:block>
				</div>
			</div>
			<div class="form-group">
				<label for="approve">승인여부 :</label>
				<select class="form-control" id="userAprvYn" name="userAprvYn">
					<option value="n">승인대기</option>
					<option value="y">승인</option>
				</select>
			</div>
			<div class="d-flex justify-content-end">
				<button class="btn btn-primary" id="btnDelete" >삭제</button>
				<button class="btn btn-primary" id="btnUpdate" style="margin-left: 15px">수정</button>
				
			</div>
		</form>
	  </div>
   	 </div>
		</div>

	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
<script th:inline="javascript">
function getView(id){
	$.ajax({
		url:"/admin/view",
		type:"get",
		dataType:"json",
		data:{
			userId:id
		}
	})
	.done((res)=>{
		$('#userId').attr("value",res.getUerId);
		$('#userNm').attr("value",res.getUserNm);
		$('#userEmlAddr').attr("value",res.getUserEmlAddr);
		$('#userAddr').attr("value",res.getUerId);
		$('#userTelno').attr("value",res.getUserTelno);
		$('#userAddr').attr("value",res.getUserAddr);
		$("#deptNo").val(res.getUserDeptNo);
		$("#userAprvYn").val(res.getUserAprvYn);
		
		//취미
		$('.form-check-input').each(function() {
	          var currentValue = $(this).val();
	          for (var i = 0; i < Object.keys(res).length; i++) {
	              var resValue = res['userHobbyChoice' + i];
	              if (currentValue == resValue) {
	                  $(this).prop('checked', true);
	                  break;
	              } else {
	                  $(this).prop('checked', false);
	              }
	          }
	      });
	})
	.fail((res, status, error)=>{
		console.log(error)
		console.log(res)
	})
}
	

$("#btnDelete").click(()=>{
	let formData=$("#userForm").serialize();
	$.ajax({
		url:"/admin/delete",
		type:"POST",
		data:formData,
		dataType:"json"
	})
})

$("#btnUpdate").click(()=>{
	let formData=$("#userForm").serialize();
	$.ajax({
		url:"/user/save",
		type:"POST",
		data:formData,
		dataType:"json"
	})
})



</script>